<%= button_to "今日の体調を登録する", new_health_record_path, method: :get, class: "btn btn-primary" %>

<%= render "recent_health_records", health_records: @health_records %>

<p>最近更新されたお店</p>
<% @shops.each do |shop| %>
  <div>
    <label class="span2"><%= shop.name %><label>
    <%= image_tag(shop.photo.url(:thumb)) if shop.photo.present? %>
  </div>
<% end %>

<p>最近食べれた料理</p>
<% @foods.each do |food| %>
  <div>
    <label class="span2"><%= food.name %><label>
    <%= link_to(image_tag(food.photo.url(:thumb)), food) if food.photo.present? %>
  </div>
<% end %>

