<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :prefecture %><br>
    <%= f.text_field :prefecture %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.label "写真" %><br>
    <%= f.file_field :photo %>
  </div>

  提供している料理
  <%= text_field_tag :search_food %>
  <%= button_tag '料理追加', { type: 'button', id: 'add_serving' } %>
  <div id="food_error">
    <span id="food_name"></span>
    <span id="error_message"></span>
  </div>
  <table class='table table-striped' style='width: 50%;' id='servings'>
  <%= f.fields_for :servings do |builder| %>
    <%= render 'serving_fields', f: builder %>
  <% end %>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
