<h1><%= Shop.model_name.human + t('show') %></h1>
<hr />

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Shop.human_attribute_name :name %></strong>
  <%= @shop.name %>
</p>

<p>
  <strong><%= Shop.human_attribute_name :prefecture %></strong>
  <%= @shop.prefecture %>
</p>

<p>
  <strong><%= Shop.human_attribute_name :city %></strong>
  <%= @shop.city %>
</p>

<p>
  <strong><%= Shop.human_attribute_name :address %></strong>
  <%= @shop.address %>
</p>

<p>
  <strong><%= Shop.human_attribute_name :url %></strong>
  <%= @shop.url %>
</p>

<p>
  <strong><%= Shop.human_attribute_name :category_id %></strong>
  <%= @shop.category.try(:name) %>
</p>

<p>
  <strong><%= Shop.human_attribute_name :photo %></strong>
  <%= image_tag @shop.photo.url(:medium) %>
</p>

<p>
  <strong><%= Serving.model_name.human %></strong>
  <%= @shop.foods.pluck(:name).join('ã€') %>
</p>

<%= link_to t('edit'), edit_shop_path(@shop) %> |
<%= link_to t('back'), shops_path %>
