<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @shop.prefecture %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Url:</strong>
  <%= @shop.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shop.category.try(:name) %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
