<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :tastes %><br>
    <% @food.food_tastes.each do |food_taste| %>
      <%= f.fields_for :food_tastes, food_taste do |ft_build| %>
        <%= ft_build.check_box :taste_id, {checked: nil}, food_taste.taste.id, false %>
        <%= ft_build.label food_taste.taste.name %>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
