<h1><%= Food.model_name.human + t(:list) %></h1>

<fieldset class="food-search">
  <legend>料理検索条件</legend>
  <%= form_for(@search_food, url: search_foods_path, method: :get,
               html: { class: "form-search" }) do |f| %>
    <div class="row">
      <div class="span1">
        <%= f.label :name, Food.human_attribute_name(:name) %>
      </div>
      <%= f.text_field :name, class: "input-medium search-query" %>
    </div>
    <br />
    <div class="row">
      <div class="span1">
        <%= f.label "味" %>
      </div>
      <%= f.collection_check_boxes :taste_ids, @tastes, :id, :name do |b|
        b.label { b.check_box + b.text }
      end %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "料理検索", class: "btn" %>
    </div>
  <% end %>
</fieldset>

<hr />

<%= link_to Food.model_name.human + t(:create), new_food_path, class: "btn btn-primary" %>

<br />
<br />

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= Food.human_attribute_name(:photo) %></th>
      <th><%= Food.human_attribute_name(:name) %></th>
      <th><%= Taste.model_name.human %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= image_tag food.photo.url(:thumb) %></td>
        <td><%= food.name %></td>
        <td><%= food.tastes.pluck(:name).join(", ") %></td>
        <td><%= link_to t(:show), food, class: "btn" %></td>
        <td><%= link_to t(:edit), edit_food_path(food), class: "btn" %></td>
        <td><%= link_to t(:destroy), food, method: :delete,
          data: { confirm: '本当に削除しますか?' },
          class: "btn btn-danger"
          %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
