<h1>料理詳細</h1>

<br />

<p id="notice"><%= notice %></p>

<p>
  <strong>料理名:</strong>
  <%= @food.name %>

  <br />

  <strong>味:</strong>
  <%= @food.tastes.pluck(:name).join(", ") %>
  
  <br />
  
  <strong>写真:</strong>
  <%= image_tag @food.photo.url(:medium) %>
</p>

<%= link_to '編集', edit_food_path(@food) %> |
<%= link_to '一覧に戻る', foods_path %>
