<%= form_for @health_record, html: { class: "form-horizontal"} do |f| %>
  <% if @health_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@health_record.errors.count, "error") %> prohibited this health_record from being saved:</h2>

      <ul>
      <% @health_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @not_found_food %>
    <%= render "eatings_invalid", foods: @not_found_food %>
  <% end %>

  <div class="field control-group">
    <%= f.label :date, class: "control-label" %>
    <div class="controls">
      <%= f.date_select :date %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label HealthRecord.human_attribute_name(:time_period), class: "control-label" %>
    <div class="controls">
      <% HealthRecord::TIME_PERIODS.each do |time_period| %>
        <label class="radio inline">
        <%= f.radio_button :time_period, time_period[:value] %>
        <%= time_period[:label] %>
        </label>
    <% end %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label HealthRecord.human_attribute_name(:health), class: "control-label" %>
    <div class="controls">
      <% HealthRecord::HEALTHS.each do |health| %>
        <label class="radio inline">
          <%= f.radio_button :health, health[:value] %>
          <%= health[:label] %>
        </label>
      <% end %>
    </div>
  </div>

  <hr />

  <h2><%= Eating.model_name.human %></h2>

  <div class="field control-group">
    <%= f.label Food.human_attribute_name(:name), class: "control-label" %>
    <div class="controls">
      <%= text_field_tag :search_food %>
      <%= button_tag "#{Food.model_name.human + t(:add)}", { type: "button", id: "add_food" } %>
    </div>
  </div>

  <div id="food_error">
    "<span id="food_name" class="error_food"></span>"
    <span id="error_message"></span>
  </div>

  <table class="table table-striped" style="width: 50%;" id="eatings">
    <% @health_record.eatings.each do |eating| %>
      <%= render "eating_fields", eating: eating %>
    <% end %>
  </table>

  <div class="field control-group">
    <div class="actions controls">
      <%= f.submit %>
    </div>
  </div>
<% end %>

