<%= form_for(@health_record) do |f| %>
  <% if @health_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@health_record.errors.count, "error") %> prohibited this health_record from being saved:</h2>

      <ul>
      <% @health_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @not_found_food %>
    <%= render "eatings_invalid", foods: @not_found_food %>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
  <% HealthRecord::TIME_PERIODS.each do |time_period| %>
    <%= f.radio_button :time_period, time_period[:value] %>
    <%= f.label :time_period, time_period[:label], value: time_period[:value] %>
  <% end %>
  </div>
  <div class="field">
  <% HealthRecord::HEALTHS.each do |health| %>
    <%= f.radio_button :health, health[:value] %>
    <%= f.label :health, health[:label], value: health[:value] %>
  <% end %>
  </div>

  <hr />

  <h2>食べた料理</h2>

  <div class="field">
    <%= text_field_tag :search_food %>
    <%= button_tag "料理追加", { type: "button", id: "add_food" } %>
    <div id="food_error">
      "<span id="food_name" class="error_food"></span>"
      <span id="error_message"></span>
    </div>
    <table class="table table-striped" style="width: 50%;" id="eatings">
      <% @health_record.eatings.each do |eating| %>
        <%= render "eating_fields", eating: eating %>
      <% end %>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

