<p id="notice"><%= notice %></p>

<p>
  <strong><%= HealthRecord.human_attribute_name(:date) %>:</strong>
  <%= @health_record.date %>
</p>

<p>
  <strong><%= HealthRecord.human_attribute_name(:time_period) %>:</strong>
  <%= @health_record.get_time_period[:label] %>
</p>

<p>
  <strong><%= HealthRecord.human_attribute_name(:health) %>:</strong>
  <%= @health_record.get_health[:label] %>
</p>

<p>
  <strong><%= Food.human_attribute_name(:name) %>:</strong>
  <%= @health_record.foods.pluck(:name).join("ã€") %>
</p>

<%= link_to t(:edit), edit_health_record_path(@health_record) %> |
<%= link_to t("back"), health_records_path %>
