<!DOCTYPE html>
<html>
<head>
  <title>Tsuwari</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to "つわり", root_path, class: "brand" %>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
