<!DOCTYPE html>
<html>
<head>
  <title>Tsuwari</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "つわり", root_path, class: "brand" %>
      <ul class="nav">
        <li class="divider-vertical"><%= link_to "体調", health_records_path %></li>
        <li class="divider-vertical"><%= link_to "お店", shops_path %></li>
        <li class="divider-vertical"><%= link_to "料理", foods_path %></li>
      </ul>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
